.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/32689509-01.jpeg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {margin: 60px 196px 0 246px}
.u-section-1 .u-text-2 {margin: 30px auto 60px 152px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 595px}
.u-section-1 .u-text-1 {margin-left: 11px; margin-right: 11px}
.u-section-1 .u-text-2 {margin: 222px 0 48px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-2 .u-image-1 {min-height: 400px; background-image: url("images/32689509-0.jpeg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 400px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-1 {margin: 0 auto}
.u-section-2 .u-text-2 {margin: 20px 95px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 430px}
.u-section-2 .u-layout-wrap-1 {position: relative}
.u-section-2 .u-image-1 {min-height: 330px}
.u-section-2 .u-layout-cell-2 {min-height: 330px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 353px}
.u-section-2 .u-image-1 {min-height: 253px}
.u-section-2 .u-layout-cell-2 {min-height: 253px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 580px}
.u-section-2 .u-image-1 {min-height: 380px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-2 {min-height: 380px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 538px}
.u-section-2 .u-layout-wrap-1 {margin-bottom: 0}
.u-section-2 .u-image-1 {min-height: 239px}
.u-section-2 .u-layout-cell-2 {min-height: 239px} }.u-section-3 .u-sheet-1 {min-height: 276px}
.u-section-3 .u-text-1 {width: 680px; margin: 60px auto 0}
.u-section-3 .u-text-2 {width: 680px; margin: 20px 230px 0}
.u-section-3 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-3 .u-text-2 {margin-left: 130px; margin-right: 130px} }

@media (max-width: 991px){ .u-section-3 .u-text-2 {margin-left: 20px; margin-right: 20px} }

@media (max-width: 767px){ .u-section-3 .u-text-1 {width: 540px}
.u-section-3 .u-text-2 {width: 540px; margin-left: auto; margin-right: auto} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 241px}
.u-section-3 .u-text-1 {margin-top: 21px; margin-left: 0; margin-right: 0; width: 340px}
.u-section-3 .u-text-2 {width: 340px}
.u-section-3 .u-btn-1 {margin-bottom: 21px} }.u-section-4 .u-sheet-1 {min-height: 701px}
.u-section-4 .u-list-1 {min-height: 626px; grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px); height: auto; grid-gap: 30px 30px; margin: 60px auto 15px}
.u-section-4 .u-container-layout-1 {padding: 0 0 30px}
.u-section-4 .u-shape-1 {height: 289px; width: 340px; margin: 33px 0 0 auto}
.u-section-4 .u-image-1 {width: 340px; height: 289px; margin: -289px 0 0 auto}
.u-section-4 .u-text-1 {font-size: 2.25rem; margin: 27px 0 0}
.u-section-4 .u-text-2 {margin: 20px 17px 0}
.u-section-4 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; background-image: none; margin: 42px auto 0}
.u-section-4 .u-container-layout-2 {padding: 0 0 30px}
.u-section-4 .u-shape-2 {height: 289px; width: 340px; margin: 33px 0 0 auto}
.u-section-4 .u-image-2 {width: 340px; height: 289px; margin: -289px 0 0 auto}
.u-section-4 .u-text-3 {font-size: 2.25rem; margin: 27px 0 0}
.u-section-4 .u-text-4 {margin: 20px 17px 0}
.u-section-4 .u-btn-2 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; background-image: none; margin: 42px auto 0}
.u-section-4 .u-container-layout-3 {padding: 0 0 30px}
.u-section-4 .u-shape-3 {height: 289px; width: 340px; margin: 33px 0 0 auto}
.u-section-4 .u-image-3 {width: 340px; height: 289px; margin: -289px 0 0 auto}
.u-section-4 .u-text-5 {font-size: 2.25rem; margin: 27px 0 0}
.u-section-4 .u-text-6 {margin: 20px 17px 0}
.u-section-4 .u-btn-3 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; background-image: none; margin: 42px auto 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 626px}
.u-section-4 .u-list-1 {min-height: 516px; grid-template-columns: repeat(3, calc(33.333333333333336% - 20px)); margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-bottom: 5px}
.u-section-4 .u-shape-1 {height: 270px; width: 259px; margin-right: 1px}
.u-section-4 .u-text-1 {font-size: 1.875rem; margin-top: 70px}
.u-section-4 .u-container-layout-2 {padding-bottom: 5px}
.u-section-4 .u-shape-2 {height: 270px; width: 259px; margin-right: 1px}
.u-section-4 .u-text-3 {font-size: 1.875rem; margin-top: 70px}
.u-section-4 .u-container-layout-3 {padding-bottom: 5px}
.u-section-4 .u-shape-3 {height: 270px; width: 259px; margin-right: 1px}
.u-section-4 .u-text-5 {font-size: 1.875rem; margin-top: 70px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 1283px}
.u-section-4 .u-list-1 {min-height: 1186px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 345px)); margin-right: initial; margin-left: initial}
.u-section-4 .u-shape-1 {width: 311px}
.u-section-4 .u-shape-2 {width: 311px}
.u-section-4 .u-shape-3 {width: 311px} }

@media (max-width: 767px){ .u-section-4 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-right: 30px}
.u-section-4 .u-shape-1 {height: 311px; width: 334px; margin-right: auto; margin-left: 35px}
.u-section-4 .u-text-1 {margin-top: 60px}
.u-section-4 .u-container-layout-2 {padding-right: 30px}
.u-section-4 .u-shape-2 {height: 311px; width: 334px; margin-right: auto; margin-left: 35px}
.u-section-4 .u-text-3 {margin-top: 60px}
.u-section-4 .u-container-layout-3 {padding-right: 30px}
.u-section-4 .u-shape-3 {height: 311px; width: 334px; margin-right: auto; margin-left: 35px}
.u-section-4 .u-text-5 {margin-top: 60px} }

@media (max-width: 575px){ .u-section-4 .u-list-1 {min-height: 1732px; margin-top: 28px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-right: 10px}
.u-section-4 .u-shape-1 {height: 304px; width: 301px; margin-top: 0; margin-right: 0; margin-left: auto}
.u-section-4 .u-image-1 {width: 301px; height: 295px; margin-top: -299px}
.u-section-4 .u-text-1 {font-size: 1.5rem; margin-top: 42px}
.u-section-4 .u-container-layout-2 {padding-right: 10px}
.u-section-4 .u-shape-2 {height: 304px; width: 301px; margin-top: 0; margin-right: 0; margin-left: auto}
.u-section-4 .u-image-2 {width: 301px; height: 295px; margin-top: -299px}
.u-section-4 .u-text-3 {font-size: 1.5rem; margin-top: 42px}
.u-section-4 .u-container-layout-3 {padding-right: 10px}
.u-section-4 .u-shape-3 {height: 304px; width: 301px; margin-top: 0; margin-right: 0; margin-left: auto}
.u-section-4 .u-image-3 {width: 301px; height: 295px; margin-top: -299px}
.u-section-4 .u-text-5 {font-size: 1.5rem; margin-top: 42px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 168px}
.u-section-5 .u-layout-wrap-1 {margin: 30px auto 30px 0}
.u-section-5 .u-layout-cell-1 {min-height: 108px}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-social-icons-1 {height: 48px; min-height: 16px; width: 300px; min-width: 140px; white-space: nowrap; margin: 0 auto}
.u-section-5 .u-layout-cell-2 {min-height: 108px}
.u-section-5 .u-container-layout-2 {padding: 30px}
.u-section-5 .u-text-1 {margin: 0}
.u-section-5 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 130px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 89px}
.u-section-5 .u-layout-cell-2 {min-height: 89px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 141px}
.u-section-5 .u-layout-cell-1 {min-height: 68px}
.u-section-5 .u-layout-cell-2 {min-height: 68px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 241px}
.u-section-5 .u-layout-cell-1 {min-height: 102px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-layout-cell-2 {min-height: 102px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-layout-cell-1 {min-height: 64px}
.u-section-5 .u-icon-1 {height: 100%}
.u-section-5 .u-icon-2 {height: 100%}
.u-section-5 .u-icon-3 {height: 100%}
.u-section-5 .u-icon-4 {height: 100%}
.u-section-5 .u-icon-5 {height: 100%}
.u-section-5 .u-layout-cell-2 {min-height: 64px} }